.example-spacer {
    flex: 1 1 auto;
}

.login{
    
    background-color: rgb(148, 240, 197) !important;
    border-radius: 10px;
    margin-left: -80px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -4px;

}

.register{
    
    background-color: rgb(134, 125, 204) !important;
    border-radius: 10px;
    margin-left: -150px;
    margin-top: -4px;
}

.logout{
    background-color: rgb(236, 91, 91);
    border-radius: 10px;
    margin-left: -25px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: -4px;
}